html {
  background-color: rgb(36, 36, 36);
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  border: solid grey 2px;
  position: relative;
  right: 140px;
  top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  width: 180px;
  height: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 2;
}

.profile-dropdown2 {
  display: flex;
  font-size: 17px;
  font-weight: 100;
  flex-direction: column;
  border: solid grey 2px;
  position: absolute;
  top: 49px;
  padding-right: 10px;
  padding-left: 10px;
  width: 80px;
  height: auto;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 2;
}

.profile-dropdown > button {
  color: rgb(0, 0, 0);
  background: none;
  background-color: red;
  margin: 5px 5px;
  width: 100px;
  border-radius: 10px;
}

.profile-dropdown > li:not(.not-you) {
  display: flex;
  justify-content: space-between;

  width: 140px;
  border-bottom: solid rgb(211, 211, 211) 1px;
}
.profile-dropdown2 > li:not(.not-you) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 93px;
  border-bottom: solid rgb(211, 211, 211) 1px;
}

.profile-dropdown2 > li:not(.not-you):hover {
  background-color: rgb(234, 233, 233);
  color: rgb(0, 166, 255);
  border-radius: 12px;
}
.profile-dropdown > li {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}

.profile-dropdown2 > li {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}

.profile-dropdown > button:hover {
  cursor: pointer;
  background-color: rgb(2, 137, 210);
}

.profile-redirect {
  color: rgb(2, 137, 210);
  font-family: Arial, Helvetica, sans-serif;
}

.profile-redirect:hover {
  color: rgb(1, 114, 175);
  cursor: pointer;
  text-decoration: underline;
}

.purps {
  color: rgb(115, 0, 255);
}
.hidden {
  display: none;
}

.navbar {
  position: relative;
  height: 50px;
  width: 100%;
  display: inline-block;
  background-color: rgb(36, 36, 36);
}

.nav-items {
  /* border: solid red 2px; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0%;
  margin-top: 0;
  background-color: rgb(36, 36, 36);
}

.nav-right {
  /* border: solid #0004ff 2px; */
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 150px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.upload-icon {
  color: white;
}

.nav-left {
  /* border: solid rgb(13, 0, 255) 2px; */
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  list-style: none;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
}

.you,
.explore,
.prints,
.get-pro {
  margin-left: 30px;
  font-size: 17px;
  font-weight: 100;
}

.you:hover,
.explore:hover,
.prints:hover,
.get-pro:hover {
  cursor: pointer;
  color: rgb(192, 192, 192);
}

li {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.profile-box {
  height: 40px;
  width: 40px;
  /* display: flex; */
}

.profile-box2 {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
}

.profile-pic:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile-pic {
  width: 40px;
}

.upload-icon:hover {
  cursor: pointer;
  color: rgb(192, 192, 192);
}
.cart-box:hover {
  cursor: pointer;
  color: rgb(192, 192, 192);
}

.profile-box > button {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1679246453872-258ee52433eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}

.profile-box > button:hover {
  background-color: rgb(215, 215, 215);
}

.cart-box {
  position: relative;
  display: flex;
}

.nav-left:visited {
  text-decoration: dotted;
  color: white;
}

.nav-home {
  text-decoration: none;
  color: white;
}

.nav-home:visited {
  color: white;
  text-decoration: none;
}

.search-container {
  display: flex;
  /* border: solid red 2px; */
  height: 35px;
  width: 20%;

  text-align: center;
  align-items: flex-start;
}

.search-form-input {
  border: solid rgb(0, 0, 0) 2px;
  height: 35px;
  width: 100%;
  border: none;
  text-align: start;
  font-size: 14px;
  font-weight: 100;
  padding-left: 15px;
  background-color: rgb(215, 215, 215);
}

.search-form {
  display: flex;
  width: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(185, 185, 185);
}

.logout-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 166, 255);
  border: none;
  margin: 5px 5px;
  width: 90px;
  border-radius: 4px;
}

.profile-button {
  color: rgb(0, 0, 0);
  background: none;
  margin: 5px 5px;
  width: 80px;
  border-radius: 10px;
}

.profile-button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.logout-button:hover {
  cursor: pointer;
  color: rgb(194, 194, 194);
  background-color: rgb(0, 123, 190);
}

.surch {
  display: flex;
  position: relative;
  right: 44px;
  top: 3px;
  height: 45px;
  width: 45px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.surch:hover {
  background-color: rgb(215, 215, 215);
}

/* .logo-holder {
  background-image: url();
} */

.logo {
  height: 50px;
  width: 80px;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}
.white {
  color: white;
}

.results2 {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 24px;
}
/* @media screen and (max-width: 768px) {
  .nav-left {
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
  }

  .logo {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .search-container {
    display: none;
  }

  .nav-right {
    display: none;
  }
} */

.nav-left-items {
  display: flex;
}

.nav-left-items-smol {
  display: none;
}
.nav-left-items-smol {
  display: none;
  align-items: center;
}

@media screen and (max-width: 1040px) {
  .nav-left-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
  }

  .nav-left-items-smol {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 40px;
  }

  .nav-left-items-smol:hover {
    cursor: pointer;
  }
}

.hamburger {
  display: flex;
}

.over {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
}

/* .abs {
  position: fixed;
} */
