.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.image-card:hover {
  cursor: pointer;
  opacity: 0.6;
}
