.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: fit-content;
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
}

.image-card:hover {
  cursor: pointer;
  opacity: 0.6;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
  border-radius: 7px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-card:hover .image-overlay {
  opacity: 1;
}
.spinner {
  color: rgb(0, 166, 255);
  font-size: 3em;
  text-align: center;
}

.spinner i {
  animation: fa-spin 1s infinite linear;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #333333;
  color: rgb(0, 166, 255);
}

@media screen and (max-width: 700px) {
  .images-container {
    padding-left: 0;
    padding-right: 0;
  }
}
