.single-product-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 57, 57);
  font-family: Arial, Helvetica, sans-serif;
}

.back-button-container {
  display: block;
  width: 100%;
}

.back-button {
  color: white;
  border: none;
  outline: none;
  background-color: rgb(57, 57, 57);
  padding-top: 10px;
  padding-left: 15px;
  font-size: 15px;
}

.back-button:hover {
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

.single-image {
  height: 700px;
  width: 700px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.product-info {
  border-bottom: 1px solid rgb(207, 207, 207);
  height: 200px;
  background-color: rgb(236, 236, 236);
  padding: 5%;
  padding-bottom: 10px;
  padding-top: 40px;
  width: 50%;
}

.owner-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.profile-img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.single-product-name {
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.user-name {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.image-desc {
  padding-left: 85px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.owner-link {
  padding-left: 85px;
}

.owner-link:hover {
  color: rgb(0, 166, 255);
}

.liketest {
  width: 50px;
  border: none;
}

.like {
  margin-left: 10px;
  border: none;
  color: rgb(0, 166, 255);
  background-color: rgb(236, 236, 236);
}

.unlike {
  border: none;
  margin-left: 10px;
  color: rgb(0, 166, 255);
  background-color: rgb(236, 236, 236);
}

.like:hover,
.unlike:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.likes-info {
  padding-top: 5px;
  border: none;
}

.owner-info-row {
  display: flex;
}

.follow-button {
  margin-left: 8px;
  color: white;
  background-color: rgb(0, 166, 255);
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 4px;
}

.follow-button:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 74, 113);
  color: rgb(216, 216, 216);
}

.unfollow-button {
  margin-left: 8px;
  color: white;
  background-color: rgb(0, 166, 255);
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 4px;
}

.unfollow-button:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 74, 113);
  color: rgb(216, 216, 216);
}

.user-card {
  display: flex;
  flex-direction: row;
}

.profile-follows-likes {
  border-bottom: 1px solid rgb(207, 207, 207);
  height: 200px;
  background-color: rgb(236, 236, 236);

  padding-bottom: 10px;
  padding-top: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.views {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
}

.box {
  margin: 15px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbah {
  font-size: 20px;
}

.grey {
  color: rgb(169, 169, 169);
}

.taken-on {
  padding-top: 15px;
  padding-left: 15px;
}
.space {
  margin: 5px;
}

.camera-box {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .single-product-container {
    width: 100%;
  }

  .single-image {
    height: 100%;
    width: 100%;
  }
  .user-card {
    flex-direction: column;
  }

  .product-info {
    width: 90%;
    padding-top: 10px;
    height: 170px;
  }

  .profile-follows-likes {
    width: 100%;
    padding: 0;
  }
  .image-desc {
    padding-left: 0;
  }
  .spaced {
    display: none;
  }
  .owner-link {
    padding-left: 0;
  }
  .profile-follows-likes {
    height: fit-content;
    padding-bottom: 10px;
  }
}
